@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* reuseable tags and classes */
h1 {
  font-size: 65px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  color: #121212;
}
.padding-big {
  padding: 25px 0;
}
.section-padding {
  padding: 80px 0;
}
.btn-primary {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 16px 12px;
  background: #ff5959;
  border-radius: 5px;
}

/* hero-section */

#hero-section {
  min-height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.144)),
    url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section-content {
  width: 70%;
  height: 100% !important;
  margin: 0 auto;
  padding: 150px 0 0 0;
  text-align: center;
  color: white;
}

.hero-section-content p {
  margin-bottom: 30px;
}

/* donate-section-today */

#donate-section-today {
  text-align: center;
}
.donate-boxes {
  padding: 50px 0;
}
.donate-box {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #707070;
  padding: 30px 15px;
  margin: 0 8px;
  background: #fafafa;
  border-radius: 5px;
}
.active-box {
  color: #ff5959;
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  margin-bottom: 15px;
}
.input-donate {
  width: 52%;
  margin: 0 auto;
}
.input-donate a {
  display: block;
  width: 160px;
  margin: 30px auto 0 auto;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7e7b7b;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #928b8b;
}
input:focus {
  outline: none;
}
